* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
}

body{
    font-size: large;
    background-color: #72DDF7;
}

.cursor{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #007794;
}




